<!DOCTYPE html>
<html>
<head>
    <title>Movie API reference</title>
</head>
<body>
    <pre>Movie API: endpoint reference
All responses are in JSON

REQUEST: /
RESPONSE:
    A greeting from this API to you.

REQUEST: /help
RESPONSE:
    This message

REQUEST: /genre/<findGenre>}
RESPONSE:
    A list of movies whose genre matches with specified prefix.
    Each movie can cover a mulitude of genres.
    </pre>
</body>
</html>
~                                                                       ~                                                                       ~                        
